<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-zinc-900 h-screen">
        <div class="text-white text-6xl p-10">Register</div>
        <form action="/create" method="post" class="p-10  ">
            <input type="text" name="name" id="" placeholder="Enter Name..." class="bg-transparent  p-2 rounded text-white">
            <input type="text" name="username" id="" placeholder="Enter username..." class="p-2 rounded bg-transparent text-white ">
            <input type="text" name="email" id="" placeholder="Enter email..." class="p-2 rounded bg-transparent text-white">
            <input type="text" name="age" id="" placeholder="Enter age..." class="p-2 rounded bg-transparent text-white">
            <input type="password" name="password" id="" placeholder="Enter password..." class="p-2 rounded bg-transparent ">
            <input type="submit" name="" value="Register" id=""  class="p-4 rounded-lg bg-blue-700 text-white  ">      
        </form>
        <form action="/login " class="px-10"><input type="submit" name="loginpage" id=""  class=" p-4 rounded-lg bg-red-700 text-white " value="already a user?"></form> 
    </div>
</body>
</html>