<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="bg-zinc-900 h-screen bg-zing-700">
        <div class="text-slate-500 text-7xl p-10">SIGNUP</div>
        <form action="/create" method="post" class="p-10 text-slate-500">
            <input type="text" name="name" id="" placeholder="Enter name..." class="bg-transparent p-3">
            <input type="text" name="email" id="" placeholder="Enter Email..." class="bg-transparent p-3">
            <input type="text" name="age" id="" placeholder="Enter Age..." class="bg-transparent p-3">
            <input type="password" name="password" id="" placeholder="Enter Password..." class="bg-transparent p-3">
            <input type="submit" name="" id="" placeholder="submit" class="bg-blue-900 text-white p-4 rounded-lg">
        </form>
    </div>
    
</body>
</html>